html , body {
  height: 100%;
}
body{
  background: url('images/1.jpg') no-repeat top center fixed;
  background-size: cover;
}
.row{
  margin-top: 55px;
  height:80%;
}
.bin{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.bin img{
  width: 60px;
  height: 60px;
}
.active{
  cursor: pointer;
}
.icon{
  cursor: pointer;
}
.card{
  background: #3E4EB8;
  color: white;
  border-radius: 12px;
  padding: 13px;
  margin: 3px 0px;
}
.card .title {
  text-align: center;
  font-size: 22px;
  border-bottom: 2px solid;
  text-transform: uppercase;
  overflow: hidden;
}
.card .text {
  padding: 4px;
  border-bottom: 1px dotted;
}
.card .info{
  padding: 2px;
  overflow: hidden;
}
.card .icon{
  float: right;
}
#error{
  display: none;
}
