html , body {
  height: 100%;
}
body{
  background: url('images/1.jpg') no-repeat top center fixed;
  background-size: cover;
}
.row{
  margin-top: 55px;
  height:80%;
}
.bin{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.bin img{
  width: 60px;
  height: 60px;
}
.active{
  cursor: pointer;
}
.icon{
  cursor: pointer;
}
.card{
  background: #3E4EB8;
  color: white;
  border-radius: 12px;
  padding: 13px;
  margin: 3px 0px;
}
.card .title {
  text-align: center;
  font-size: 22px;
  border-bottom: 2px solid;
  text-transform: uppercase;
  overflow: hidden;
}
.card .text {
  padding: 4px;
  border-bottom: 1px dotted;
}
.card .info{
  padding: 2px;
  overflow: hidden;
}
.card .icon{
  float: right;
}
#error{
  display: none;
}

.color {
  width: 20px;
  position: relative;
  margin: 8px auto;
  display: inline-block;
}
.color label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #3E4EB8;
  border-radius: 11px;
}
.River label{
  background: #3498db;
}
.turquoise label{
  background: #1abc9c;
}
.sunflower label{
  background: #f1c40f;
}
.carpot label{
  background: #e67e22;
}
.Alizarin label{
  background:#e74c3c;
}
.clouds label{
  background: #ecf0f1;
}

.color label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 7px;
left: 6px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.color label:hover::after {
  opacity: 0.5;
}
.color input[type=checkbox] {
  visibility: hidden;
}
.color input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.copyright{
  color: white;
    position: fixed;
    bottom: 0px;
    background: black;
    padding: 3px;
    border-radius: 5px;
}
.copyright span {
  color: red;
}
